body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

p {
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background: #00acdc;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  &:hover {
    color: #00acdc;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #fff;

    border: 1px solid #00acdc;
  }
}
@import "card";
@import "stars";
